body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.header {
    background-color: #99CCFF;
    color: white;
    padding: 1rem;
}

.nav-list li {
    display: inline;
    margin-right: 1rem;
}

.nav-list a {
    color: white;
}

.nav-list a:hover {
    color: #ffd700;
   }

.content-box {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: white;
}

img {
    height: 500px;
    width: 600px;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

h2 {
    text-align: center;
}